# Theme name - corresponds to a directory in Resources/theme
#theme = test

# The icon to use for the site / public timeline icon in the sidebar.
# Setting this will override the default behavior which is to use the
# site's icon, and barring that the application logo. This should go in
# the theme's images directory. If you only specify siteLogoSelected
# then selected/deselected state will be shown via opacity.
#siteLogoSelected = mysite_selected.png
#siteLogoDeselected = mysite_deselected.png

# Set this if you want to put something permanently in the sidebar
# for the user's timeline icon, instead of the default behavior of
# showing the avatar from the user's account. If you only specify
# profileImageSelected then selected/deselected state will be shown via
# opacity.
#profileImageSelected   = profile-selected.png
#profileImageDeselected = profile-deselected.jpeg

# The client source -- what to show for the source attribution on notices
# posted via the client
#sourceName = CustomClient

# Play sounds by default?
#play_sounds = true

# Play a sound when new notices arrive by default?
#new_notices_sound = true

# Play a sound when posting a notice or sending a direct message by default?
#post_notice_sound = true

# Show system notifications by default?
#notifications = true

# Some StatusNet installs do not use these
#direct_messages = false
