#settings_content {
	padding: 0px;
	overflow-x: hidden;
}

h1 {
	margin: 0 0 8px 0;
    border-bottom: 5px solid #FB6104;
}

#status {
 	margin: 10px 0px 10px 5px;
}

#accountlist-holder {
    border: solid 1px #f2f2f2;
    -webkit-border-radius: 8px;
    padding: 8px 0px;
}

#accountlist {
	width: 100%;
    border-collapse: collapse;
}
#accountlist tr {
    border-bottom: solid 1px #eee;
    color: WindowText;
    cursor: pointer;
}
#accountlist tr.add {
	border-bottom: none;
}
#accountlist tr:hover {
    background-color: Highlight;
    color: HighlightText;
	background-color: #fff;
}
#accountlist td {
    padding: 4px;
}

#accountlist td.add a {
    content: url(../images/list-add.png);
}
#accountlist td.remove a {
    content: url(../images/list-remove.png);
}
#accountlist .http:before {
    content: url(../images/padlock-insecure.png);
}
#accountlist .https:before {
    content: url(../images/padlock-secure.png);
}

#accountlist img, #new-account img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 2px;
}

#accountlist .name {
    font-size: 150%;
    font-weight: bold;
    max-width: 115px;
    word-wrap: break-word;

}
#accountlist .site {
    color: #444;
    max-width: 115px;
    word-wrap: break-word;
}

/* Tabbed menu stuff */

ul.tabs {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    height: 24px;
    width: 95%;

    position: relative;
    top: 5px;
}

ul.tabs li {
    color: #000;
    float: left;
    margin: 0;
    padding: 0;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    position: relative;
    background: #ececf2;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    margin-right: 4px;
    -webkit-box-shadow: 0px 0px 3px #888;
}

ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1em;
    padding: 0 20px;
    outline: none;
}

ul.tabs li:hover {
    background: #fff;
}

html ul.tabs li.active {
    background: #fff;
}

.tab_container {
    overflow: auto;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 95%;
    background: #fff;
    position: relative;
    top: 5px;
    -webkit-border-radius: 6px;
    -webkit-border-top-left-radius: 0px;
}

.tab_content {
    padding: 10px;
    font-size: 1.2em;
}

legend {
    font-size: 1.4em;
}

input#misc-save, input#new-save, input#new-cancel {
    height: 1.9em;
    padding: 0px 10px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #d7621c;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9d63), color-stop(100%,#FB6104)); 
}

input#misc-save:hover, input#new-save:hover, input#new-cancel:hover {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FB6104), color-stop(100%,#fc8035));
}

/* Add account overlay */

#new-account {
    position: fixed;
    left: 20px;
    top: 200px;
    width: 360px;
    padding: 20px 0px 30px 0px;
    background: #ececf2;
    -webkit-border-radius:10px;
    -webkit-box-shadow: 1px 0px 5px #fff;
}	

/* Notifications info note */

#notifications_note {
    margin: 8px 0px 4px 0px;
    padding: 4px 20px 4px 20px;
    background: #ececf2;
    -webkit-border-radius:6px;
}

#notifications_note a {
    color: #fff;
}

/** stuff for In-Field-Labels-jQuery-Plugin **/

table {
    margin-left:auto; margin-right:auto;
}

td.avatar {
    padding-top: 10px;
    padding-right: 8px;
}

fieldset {
	border: none;
	padding: 8px 0px;
	margin-top: 8px;
}

fieldset input, fieldset textarea, label {
    font-family: Helvetica, Arial;
    font-size: 11pt;
}

fieldset td { vertical-align:top; text-align:left; }

fieldset td p { position: relative; margin: 2px 0;}
fieldset td p label { position: absolute; top: 0; left: 0;}
fieldset td p br {display: none;}

fieldset p input,
fieldset p textarea {
    display: block;
    padding: 4px;
    width: 200px;
    margin: 0;
}

fieldset p label {
    width: 180px;
    display: block;
    margin: 5px 5px 5px 6px;
    padding: 0;
}

fieldset p textarea,
fieldset p input {
    border: solid 1px #ccc;
}

fieldset p label {
    color: #777;
}

label {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
